{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": -32.8730359,
    "longitude": -60.7325078,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "America/Denver",
    "external_url": null,
    "internal_url": null,
    "currency": "ARS",
    "country": "AR",
    "language": "en",
    "radius": 100
  }
}